<div>
  <div class="table-responsive">
    <table class="table table-condensed">
      {{#if data}}
        <thead>
          <tr>
            <th>Product id</th>
            <th>Product name</th>
            <th>Product description</th>
            <th>Product price</th>
            <th>Product quantity</th>
            <th></th>
          </tr>
        </thead>
      {{else}}
        <tr><td colspan="3">No Productss found ... Add One!</td></tr>
      {{/if}}
      <tbody>
        {{#each data}}
          <tr>
            <td>{{this.productID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>${{this.price}}</td>
            <td>{{this.quantity}}</td>
          </tr>
        {{/each}}
      </tbody>
      <tfooter>
        <form method="get" action="/products/search">
          <table class="table table-condensed">
            <tbody>
              <tr>
                <th>Search By Name: </th>
                <td><input
                    type="text"
                    name="name"
                    placeholder="Enter project name"
                  /></td>
              </tr>
              <tr>
                <th>Search By description: </th>
                <td><input
                    type="text"
                    name="des"
                    placeholder="Enter project description"
                  /></td>
              </tr>
            </tbody>

            <tfoot>
              <td>
                <input type="submit" value="Search" class="btn btn-success" />
              </td>
            </tfoot>

          </table>
        </form>
      </tfooter>
    </table>
  </div>
</div>